%p.in-gold-500.font-18= t(:order_summary)
%table.general-summary-table{class: ('general-summary-table-right general-text-right' if pull_right) }
  %tr
    %td
      %p.font-16= t(:item_total)
    %td
      %p.font-16= order.formatted_item_total
  %tr
    %td
      %p.font-16= t(:shipping)
    %td
      %p.font-16= order.formatted_delivery_price
  %tr
    %td
      %strong.font-18= t(:order_total)
    %td
      %strong.font-18= order.formatted_total
