%main.container.general-main-wrap
  = render partial: 'progress_bar'
  .text-center.mb-40
    %h3.general-subtitle= t('.thank_you')
    %p.fw-300= "#{t('.confirmation_sent')} #{current_user.email}"
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0= "#{t('.order')} #{@order.id}"
        %p.general-address.mb-30= @order.formatted_date
      = render 'shopping_cart/addresses/address', address: @order_presenter.shipping_address, complete: true
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0= "#{t('.order')} #{@order.id}"
      %p.general-address.mb-30= @order.formatted_date
  = render 'shopping_cart/order_items/order_item_xs', order_items: @order_presenter.order_items, type: 'order'
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      = render 'table_headers'
      = render 'shopping_cart/order_items/order_item', order_items: @order_presenter.order_items, type: 'order'
  .text-center.general-text-right
    = render 'order_summary', order: @order, pull_right: true
  .text-center
    .btn.btn-default.mb-20= link_to(t('.back_to_store'), main_app.books_path)